<div class="bg-gray-700 p-4 rounded">
  <h3 class="text-white font-semibold">Sectors for <%= company.name %></h3>
  <ul>
    <% sectors.each do |sector| %>
      <li class="text-white py-1">
        <%= sector.name %>
        <%= link_to "Edit", edit_admin_company_sector_path(company, sector), class: "text-blue-400 ml-2" %>
        <%= link_to "Delete", admin_company_sector_path(company, sector), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-red-400 ml-2" %>
      </li>
    <% end %>
  </ul>
</div>