<%= form_with(model: [@company, @sector], url: admin_company_sectors_path(@company), local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "border p-1 rounded" %>
  </div>
  <div class="mt-2">
    <%= f.submit "Create Sector", class: "px-4 py-2 bg-blue-500 rounded text-white" %>
  </div>
<% end %>