<%= form_with(model: [@company, @sector], local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "border p-1 rounded" %>
  </div>
  <div class="mt-2">
    <%= f.submit "Save Sector", class: "px-3 py-1 bg-blue-500 text-white rounded" %>
  </div>
<% end %>