<div class="space-y-2">
  <% if devise_mapping.recoverable? %>
    <div>
      <%= link_to "Forgot your password?", new_password_path(resource_name),
          class: "text-slate-400 hover:text-slate-200 text-sm" %>
    </div>
  <% end %>
</div>